@import "$styles/abstract/vars";
@import "$styles/abstract/mixins";



// --------------------
// Utils
// --------------------

%u-row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}
%u-stretch {
    @include stretch;
}
%u-center {
    @include center;
}



// --------------------
// Padding
// --------------------

%padding {
    padding: $indent-y $indent-x;
}
%padding-hor {
    padding-left: $indent-x;
    padding-right: $indent-x;
}
%padding-ver {
    padding-top: $indent-y;
    padding-bottom: $indent-y;
}



// --------------------
// Column
// --------------------

%col {
    @include md-xl {  @include column }
}
%line:before {
    @include md-xl { @include line }
}



// --------------------
// Row
// --------------------

%row {
    @extend %u-row;
    @include sm {
        padding: 30px $indent-x 10px $indent-x;
        border-bottom: 1px solid $white-transparent;
    }
}



// --------------------
// UI
// --------------------

%ui-link {
    display: inline-block;
    &:hover { color: $red; }
}


