// --------------------
// Reset
// --------------------

*,
*:before,
*:after {
    box-sizing: border-box;
}
body {
    margin: 0;
    overflow-x: hidden;
}
a {
    display: block;
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}
h1, h2, h3 {
    margin: 0;
    font-weight: inherit;
    font-size: inherit;
}
p {
    margin: 0;
}
svg {
    display: block;
    fill: currentColor;
}



// --------------------
// Global
// --------------------

body {
    font-family: Helvetica, Roboto, "Segoe UI", Arial, sans-serif;
    font-size: $t2;
    font-weight: $w3;
    line-height: 1.27;
    color: $white;
    background: $black;
    //background: #FF0000;
}

input {
    display: block;
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
}
input:focus {
    outline: navajowhite;
}
input[type=text] {
    width: 100%;
}
input[type=submit] {
    cursor: pointer;
}

