// --------------------
// Reset
// --------------------

*,
*:before,
*:after {
    box-sizing: border-box;
}
body {
    margin: 0;
    overflow-x: hidden;
    font-family: Helvetica, Roboto, "Segoe UI", Arial, sans-serif;
    font-size: $t2;
    font-weight: $w3;
    line-height: 1.27;
    color: $white;
    background: $black;
}
a {
    display: block;
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}
h1, h2, h3 {
    margin: 0;
    font-weight: inherit;
    font-size: inherit;
}
p {
    margin: 0;
}
svg {
    display: block;
    fill: currentColor;
}
img {
    display: block;
}
input,
textarea {
    display: block;
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
}
input:focus,
textarea:focus {
    outline: none;
}
textarea,
input[type=text] {
    width: 100%;
}
input[type=submit] {
    cursor: pointer;
}
textarea {
    resize: vertical;
}
::selection {
    background: $red;
    color: $black;
}
