// --------------------
// Column width
// --------------------

:root {

    --windowWidth: 100vw;
    --windowHeight: 100vh;
    --documentWidth: 100vw;

    @include xl {
        --column-width: calc(var(--documentWidth) / 5);
    }
    @include lg {
        --column-width: calc(var(--documentWidth) / 4);
    }
    @include md {
        --column-width: calc(var(--documentWidth) / 3);
    }
    @include sm {
        --column-width: var(--documentWidth);
    }
}



// --------------------
// Padding
// --------------------

:root {

    --indent-bottom: 200px;

    @include md-xl {
        --indent-x: 21px;
        --indent-y: 26px;

    }
    @include sm {
        --indent-x: 12px;
        --indent-y: 12px;
    }
}